# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store

# Optional local history/data
# data/travel_history.json