# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
*.egg-info/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Test Cache
.pytest_cache/

# Coverage Reports
.coverage
htmlcov/

# Temporary Files
*.tmp
*.temp